* {
  box-sizing: border-box;
  
  /* font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
 */
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  display: flex;
  width: 80%;
}

.box1 {
  width: 50%;
  padding: 20px 130px;
  background-color: hsl(244, 38%, 16%);
}
p{
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.box2{
  background-image: url("./images/image-header-desktop.jpg");
  width: 50%;
}

h1, h2{
  color: hsl(0, 0%, 100%);
}

#insights{
  color: hsl(277, 64%, 61%);
}
#stats-para{
  color: hsla(0, 0%, 100%, 0.6);
}