* {
  box-sizing: border-box;
  /* font-size: 15px; */
  /* font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
 */
}

#main {
  background-color: transparent hsl(277, 64%, 61%);
  z-index: 999;
}

.hero {
  display: flex;
  width: 80%;
}

.box1 {
  width: 50%;
  background-color: green;
}
.box2 {
  width: 50%;
  background-color: red;
}
